
**/node_modules/


**/dist/
**/build/
**/.next/
**/.turbo/
**/.cache/


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env
.env.*
!.env.example


**/prisma/dev.db
**/prisma/dev.db-journal


.DS_Store
Thumbs.db


.vscode/*
!.vscode/extensions.json
!.vscode/settings.json


.idea/


*.tsbuildinfo


**/.dockerignore


coverage/


*.tmp
*.temp

ghodwa.txt

EKS_ArgoCD_Helm_GitOps_dok.pdf
GitHub_Branch_Rules_und_Auto-Merge.pdf
Kubernetes_Port_Ablauf_Ingress_Service_Pod.pdf