--
-- PostgreSQL database dump
--

\restrict LwmZZoL9XbrDnb5rIZLmLlQkQ9GkOigMosnx5BIOFK2o4TndEniyvsSHATMa0fo

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE bewerbungsmanagerdb;
--
-- Name: bewerbungsmanagerdb; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE bewerbungsmanagerdb WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'German_Germany.1252';


ALTER DATABASE bewerbungsmanagerdb OWNER TO postgres;

\unrestrict LwmZZoL9XbrDnb5rIZLmLlQkQ9GkOigMosnx5BIOFK2o4TndEniyvsSHATMa0fo
\connect bewerbungsmanagerdb
\restrict LwmZZoL9XbrDnb5rIZLmLlQkQ9GkOigMosnx5BIOFK2o4TndEniyvsSHATMa0fo

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.applications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    firma character varying(255) NOT NULL,
    stelle character varying(255) NOT NULL,
    datum date NOT NULL,
    status character varying(20) DEFAULT 'OFFEN'::character varying NOT NULL,
    notizen text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.applications OWNER TO postgres;

--
-- Name: applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.applications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.applications_id_seq OWNER TO postgres;

--
-- Name: applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.applications_id_seq OWNED BY public.applications.id;


--
-- Name: gmail_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gmail_settings (
    user_id integer NOT NULL,
    sync_enabled boolean DEFAULT false NOT NULL,
    sync_since timestamp with time zone,
    last_synchronized_at timestamp with time zone
);


ALTER TABLE public.gmail_settings OWNER TO postgres;

--
-- Name: oauth_accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.oauth_accounts (
    id integer NOT NULL,
    user_id integer NOT NULL,
    provider character varying(50) NOT NULL,
    provider_account_id character varying(255) NOT NULL,
    access_token text,
    refresh_token text,
    token_expires_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.oauth_accounts OWNER TO postgres;

--
-- Name: oauth_accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.oauth_accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.oauth_accounts_id_seq OWNER TO postgres;

--
-- Name: oauth_accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.oauth_accounts_id_seq OWNED BY public.oauth_accounts.id;


--
-- Name: oauth_states; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.oauth_states (
    state character varying(255) NOT NULL,
    user_id integer NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.oauth_states OWNER TO postgres;

--
-- Name: user_credentials; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_credentials (
    user_id integer NOT NULL,
    password_hash text NOT NULL,
    password_changed_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_credentials OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    first_name character varying(100),
    last_name character varying(100),
    role character varying(20) DEFAULT 'user'::character varying NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['user'::character varying, 'admin'::character varying])::text[]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'blocked'::character varying, 'deleted'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: applications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications ALTER COLUMN id SET DEFAULT nextval('public.applications_id_seq'::regclass);


--
-- Name: oauth_accounts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts ALTER COLUMN id SET DEFAULT nextval('public.oauth_accounts_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gmail_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: oauth_accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.oauth_accounts VALUES (3, 2, 'google', '116964506430725243675', 'ya29.a0ARGnu0bBZQdpRyfBT4Tn_4fhcjXee86iOnnzgwZBkyuz6MuZovtDNG-jfka-v4CSnXSK9yppUPfSU7O_neU3_-Ux78Gueo7UvjcOFxqYNozu1Z3fbxD-yVOpyc4FA7ui8MoBJZrHAULKhI8i3qXstMtwMziz183X-sUz-FwpP4fgGWNGmJN2tGxW4fQhA9z5n3qZ0lUaCgYKAbkSARYSFQHGX2Mi5tiNZQj-pfIRHoSCPr80gg0206', '1//03njC2HMt0bbvCgYIARAAGAMSNwF-L9IrKROUi12ZHbmGsbpW2GlqdBiHvcJTXYIi_d9pn2zjttayx1MP0beKdzQYCIlCfl9FlCo', '2026-07-22 21:15:43.937+02', '2026-07-22 20:15:24.249+02', '2026-07-22 20:15:45.078+02');


--
-- Data for Name: oauth_states; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.oauth_states VALUES ('5c32a87aa7aabd7ece3afd25a0047375f68d4e4e5b1b9fbb94a88f89f3fbe933', 2, '2026-07-22 19:46:03.961+02', '2026-07-22 19:36:03.963+02');
INSERT INTO public.oauth_states VALUES ('7f4836831f21ad03119d46bd1ca130a1ea79f918c0ab55b4a050206574fce84f', 2, '2026-07-22 19:47:57.394+02', '2026-07-22 19:37:57.396+02');
INSERT INTO public.oauth_states VALUES ('e8ab7f201030dd8e6873e6e3c0d8689585cac242e616bbcfcf2ef1fd56ef6731', 2, '2026-07-22 19:57:31.677+02', '2026-07-22 19:47:31.68+02');


--
-- Data for Name: user_credentials; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.user_credentials VALUES (1, '$argon2id$v=19$m=65536,p=4,t=3$h0oRcpilsgLaqBYEAWqNHQ$edYYcjN8Z7AKknHCjAKtv9WIMoPWbyMnXXt1U0sUWIA', '2026-07-21 13:28:11.467+02', '2026-07-21 13:28:11.467+02');


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.users VALUES (1, 'medamin@gmail.com', 'med', 'amin', 'user', 'active', '2026-07-21 13:28:11.467+02', '2026-07-21 13:28:11.467+02');
INSERT INTO public.users VALUES (2, 'dwesleti517@gmail.com', 'dhia', 'wesleti', 'user', 'active', '2026-07-21 21:16:17.864+02', '2026-07-21 21:16:17.864+02');


--
-- Name: applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.applications_id_seq', 1, false);


--
-- Name: oauth_accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.oauth_accounts_id_seq', 4, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- Name: gmail_settings gmail_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gmail_settings
    ADD CONSTRAINT gmail_settings_pkey PRIMARY KEY (user_id);


--
-- Name: oauth_accounts oauth_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT oauth_accounts_pkey PRIMARY KEY (id);


--
-- Name: oauth_accounts oauth_accounts_provider_provider_account_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT oauth_accounts_provider_provider_account_id_key UNIQUE (provider, provider_account_id);


--
-- Name: oauth_accounts oauth_accounts_user_id_provider_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT oauth_accounts_user_id_provider_key UNIQUE (user_id, provider);


--
-- Name: oauth_states oauth_states_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_states
    ADD CONSTRAINT oauth_states_pkey PRIMARY KEY (state);


--
-- Name: user_credentials user_credentials_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_credentials
    ADD CONSTRAINT user_credentials_pkey PRIMARY KEY (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: applications fk_applications_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT fk_applications_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: gmail_settings fk_gmail_settings_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gmail_settings
    ADD CONSTRAINT fk_gmail_settings_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: oauth_states fk_oauth_states_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_states
    ADD CONSTRAINT fk_oauth_states_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: oauth_accounts oauth_accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT oauth_accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_credentials user_credentials_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_credentials
    ADD CONSTRAINT user_credentials_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict LwmZZoL9XbrDnb5rIZLmLlQkQ9GkOigMosnx5BIOFK2o4TndEniyvsSHATMa0fo

